:root {
  --radius-animation: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* cursor: none; */
}

::-webkit-scrollbar {
  width: 0;
}

.night svg,
.night svg * {
  fill: white;
  color: white;
}

.night .menuItems img,
.night .menuItems svg {
  background: red;
  transition: 0.3s;
  border-radius: 50%;
  padding: 7px;
}

.main {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 100%;
  grid-template-areas: "item1 item2 item3";
  overflow: hidden;
}

.items {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s;
  text-align: center;
  position: relative;
}


#item1 {
  display: flex;
  grid-area: item1;
}

#item2 {
  grid-area: item2;
  position: relative;
}

#item3 {
  display: flex;
  grid-area: item3;
}

#spider1 {
  width: 60%;
  /* width: 30vw; */
}

#spider2 {
  width: 35%;
  /* width: 15vw; */
}


#item2::after{
  content: "";
  position: absolute;
  left: 0%;
  top: 0%;
  background-image: url(img/venom.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .3s;
}


.opacity-venom0::after{
  opacity: 0 !important;
}
.opacity-venom1::after{
  opacity: 0.25 !important;
}
.opacity-venom2::after{
  opacity: 0.5 !important;
}
.opacity-venom3::after{
  opacity: 0.75 !important;
}
.opacity-venom4::after{
  opacity: 1 !important;
}



#spider3 {
  width: 40%;
  /* width: 20vw; */
}

#item1:hover {
  /* transform: scale(1.1); */
  /* box-shadow: 7px 0px 20px black; */
}

#light-web svg {
  width: 40px;
  height: 40px;
}

#light-web * {
  fill: white;
  color: white;
}

.black-web * {
  fill: black !important;
  color: black !important;
}

/* #item2:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 40px black;
}

#item3:hover {
  transform: scale(1.1);
  box-shadow: -7px 0px 20px black;
} */

/* canvas{
	display: none;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;;
} */

#canvas1 {
  display: none;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: purple; */
  width: 100%;
  height: 10%;
}

.menu {
  position: relative;
  top: 0;
  left: 80%;
  /* background-color: royalblue; */
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.menuItems {
  /* background-color: seagreen; */
  width: 30%;
  height: 100%;
  /* padding: 5% 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  /* cursor: pointer; */
}

.menuItems img {
  width: 40px;
}

.menuItems:nth-child(1) img {
  transform: rotate(-30deg);
}
.h1 {
  /* position: fixed; */
  font-family: monospace;
  margin: 50px;
  text-align: center;
  /* cursor: pointer; */
}

.items img {
  /* cursor: pointer; */
}

.target {
  /* cursor: pointer; */
  transition: 0.3s;
}

.potencial-target {
  animation: web 10s ease infinite;
  opacity: 0;
}
.potencial-target:nth-child(2n) {
  animation: web-anti 5s ease infinite;
}
.spider-target:nth-child(2n) {
  animation: web-anti 12s ease infinite;
}

.spider-target {
  position: absolute;
  /* left: 40%; */
  /* top: 40%; */
  z-index: 1000;
}
.spider-target {
  object-fit: cover;
  width: 2vw;
  height: 2vw;
}

.spider{
  opacity: 0.5;
}

.sense-on {
  animation: sense-on 0.3s ease forwards;
}
.sense-off {
  animation: sense-off 0.3s ease forwards;
}

.description {
  transition: 0.3s;
  opacity: 0;
  /* transform: translateY(20px) rotate(360deg); */
  transform: translateY(20px) rotate(360deg)
    matrix3d(2, 1, -7, -1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  color: white;
}

.description-view {
  opacity: 1 !important;
  transform: unset !important;
  font-weight: 700 !important;
  font-size: 50px;
}

.get-element {
  animation: get 1s ease forwards !important;
}

.no-finded {
  background: wheat;
}
.no-finded::before {
  content: "I was here!";
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  color: aliceblue;
}

.sense-on-icon svg{
  background: rgba(255, 255, 255, 0.664);
  border-radius: 50%;
  /* border: 3px solid rgba(128, 128, 128, 0.699); */
}

@keyframes sense-on {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sense-off {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes get {
  100% {
    transform: scale(4) rotate(-45deg);
    box-shadow: 0px 0px 60px black;
  }
}

@keyframes web {
  0% {
    transform: translate(var(--radius-animation), var(--radius-animation));
  }
  25% {
    transform: translate(var(--radius-animation), 0px);
  }
  50% {
    transform: translate(0px, var(--radius-animation));
  }
  75% {
    transform: translate(var(--radius-animation), var(--radius-animation));
  }
  100% {
    transform: translate(var(--radius-animation), var(--radius-animation));
  }
}

@keyframes web-anti {
  0% {
    transform: translate(var(--radius-animation), 0px);
  }
  25% {
    transform: translate(var(--radius-animation), var(--radius-animation));
  }
  50% {
    transform: translate(var(--radius-animation), var(--radius-animation));
  }
  75% {
    transform: translate(0px, var(--radius-animation));
  }
  100% {
    transform: translate(var(--radius-animation), var(--radius-animation));
  }
}
